.movies-card {
  width: 100%;
  max-width: 364px;
  height: 100%;
  background-color: #222222;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin: 0;
  transition: 0.2s;
}
.movies-card:hover {
  transform: scale(1.01);
  transition: 0.3s;
  box-shadow: 0 0 34px 0 rgba(66, 133, 244, 0.2);
}
.movies-card__image {
  flex: 1 0 auto;
  width: 100%;
  max-height: 203px;
  object-fit: contain;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.movies-card__image-description {
  flex: 0 0 auto;
  width: 100%;
  height: 78px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
}
.movies-card__title {
  font-family: Inter, Helvetica, Arial, Ubuntu, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.2;
  margin-bottom: 17px;
}
.movies-card__duration {
  font-family: Inter, Helvetica, Arial, Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 1.2;
  color: #8B8B8B;
}
.movies-card__button-like {
  position: absolute;
  top: 19px;
  right: 24px;
  padding: 0;
  margin: 0;
  outline: none;
  width: 14px;
  height: 12px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url('../../images/icon-space.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}
.movies-card__button-like:hover {
  transform: scale(1.9);
  transition: 0.3s;
}
.movies-card__button-like-checked {
  background-image: url('../../images/icon-full.svg');
  transition: 0.3s;
}
.movies-card__duration-hour {
  margin-right: 5px;
}
.movies-card__duration-hour::after {
  content: 'ч';
}
.movies-card__duration-min::after {
  content: 'м';
}

@media screen and (max-width: 1023px) {
  .movies-card {
    max-width: 339px;
    height: 262px;
  }
  .movies-card__image {
    max-height: 190px;
  }
  .movies-card__image-description {
    height: 72px;
    padding: 14px;
  }
  .movies-card__button-like {
    top: 18px;
    right: 22px;
  }
  .movies-card__button-like:hover {
    transform: scale(1.6);
  }
}
@media screen and (max-width: 767px) {
  .movies-card {
    max-width: 300px;
    height: 237px;
  }
  .movies-card__image {
    max-height: 168px;
  }
  .movies-card__image-description {
    height: 69px;
  }
  .movies-card__button-like {
    top: 17px;
    right: 18px;
  }
  .movies-card__button-like:hover {
    transform: scale(1.3);
  }
}