.movies {
  width: 100%;
  height: auto;
}
.movies__content {
  width: calc(100% - 140px);
  max-width: 1280px;
  margin: 0 auto;
  padding: 144px 0 80px;
}

@media screen and (max-width: 1279px) {
  .movies__content {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 767px) {
  .movies__content {
    width: calc(100% - 36px);
  }
}