.tabs-stack {
  width: 100%;
  max-width: 690px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(84px, 1fr));
  grid-gap: 10px;
  margin-bottom: 100px;
}
.tabs-stack__tab {
  background-color: #303030;
  border-radius: 10px;
  font-family: Inter, Helvetica, Arial, Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 4.2;
}
@media screen and (max-width: 1023px) {
  .tabs-stack {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 767px) {
  .tabs-stack {
    margin-bottom: 70px;
  }
  .tabs-stack__tab {
    font-size: 12px;
    line-height: 4.75;
  }
}