body, .root, .page  {
  height: 100%;
  min-height: 100vh;
}
.page {
  display: flex;
  flex-direction: column;
  font-family: Inter, Helvetica, Arial, Ubuntu, sans-serif;
  color: #fff;
  background-color: #202020;
}
/* * {
  outline: 1px solid red;
} */
