.account {
  width: 100%;
  max-width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.account__link {
  color: #ffffff;
  font-family: Inter, Helvetica, Arial, Ubuntu, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}
.account__link:hover {
  color: #4285F4;
  transition: 0.2s;
}
.account__image {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: #313131;
  background-image: url('../../images/account__image.svg');
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  padding: 0;
  border: none;
  cursor: pointer;
}