.info {
  position: fixed;
  top: 0%;
  align-self: center;
  width: 500px;
  height: 100px;
  background-color: #00000050;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info__message {
  font-family: Inter, Helvetica, Arial, Ubuntu, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #ffffff;
}
