.menu-movies {
  width: 100%;
  max-width: 212px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: 44px;
}
.menu-movies__collection {
  color: #ffffff;
  font-family: Inter, Helvetica, Arial, Ubuntu, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.3;
  text-decoration: none;
}
.menu-movies__saved-collection {
  color: #ffffff;
  font-family: Inter, Helvetica, Arial, Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.3;
  text-decoration: none;
}