.header {
  width: 100%;
  height: 74px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.header__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 11%);
  max-width: 1280px;
  margin: 0 auto;
}
.header__profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  align-items: center;
}
.header__logo {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #5594FE;
  background-image: url('../../images/header__logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  padding: 0;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .header__content {
    width: calc(100% - 7.8%);
  }
}
@media screen and (max-width: 1023px) {
  .header__profile {
    grid-gap: 14px;
  }
}
@media screen and (max-width: 767px) {
  .header__profile {
    grid-gap: 14px;
  }
  .header__content {
    width: calc(100% - 8.7%);
  }
}