.footer {
  background-color: #272727;
  flex: 0 0 auto;
}
.footer__invisible {
  display: none;
}
.footer__content {
  width: calc(100% - 140px);
  max-width: 1280px;
  min-height: 172px;
  margin: 0 auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.footer__title {
  height: 37px;
  margin: 80px 0 0;
  color: #8B8B8B;
  font-family: Inter, Helvetica, Arial, Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.2;
}
.footer__content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid #AAAAAA33;
  padding-top: 20px;
}
.footer__list-links {
  width: 263px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__link {
  font-family: Inter, Helvetica, Arial, Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;
}
.footer__copyright {
  font-family: Inter, Helvetica, Arial, Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.2;
  color: #ffffff;
}
@media screen and (max-width: 1279px) {
  .footer__content {
    width: calc(100% - 100px);
  }
}
@media screen and (max-width: 1023px) {
  .footer__title {
    width: 100%;
    border-bottom: 1px solid #424242;
    text-align: center  ;
  }
}
@media screen and (max-width: 767px) {
  .footer__content {
    width: calc(100% - 36px);
    padding-bottom: 10px;
  }
  .footer__title {
    margin-top: 79px;
    font-size: 12px;
    margin-bottom: 30px;
  }
  .footer__content-wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer__list-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px;
    justify-items: center;
    margin-bottom: 30px;
    font-size: 12px;
  }
  .footer__copyright {
    font-size: 12px;
    color: #8B8B8B;
  }
}