.about-project-article {
  width: 100%;
  max-width: 550px;
  height: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 28px;
}
.about-project-article__title {
  margin: 0;
  font-family: Inter, Helvetica, Arial, Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
}
.about-project-article__desription {
  margin: 0;
}
