.about-project-article {
  width: 100%;
  max-width: 550px;
  height: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 26px;
}
.about-project-article__title {
  margin: 0;
  font-family: Inter, Helvetica, Arial, Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
}
.about-project-article__desription {
  margin: 0;
  font-family: Inter, Helvetica, Arial, Ubuntu, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
}
@media screen and (max-width: 1279px) {
  .about-project-article__desription {
    font-size: 13px;
  }
}
@media screen and (max-width: 1023px) {
  .about-project-article {
    grid-gap: 22px;
  }
  .about-project-article__desription {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .about-project-article__desription {
    font-size: 11px;
  }
  .about-project-article {
    grid-gap: 16px;
  }
  .about-project-article__title {
    font-size: 18px;
  }
}