.register__button-submit {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  text-align: center;
  color: #ffffff;
  background-color: #4285F4;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: Inter, Helvetica, Arial, Ubuntu, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}
.register__button-submit_type_disable {
  background-color: #424242;
  opacity: 0.5;
  cursor: inherit;
}