.navtab {
  margin-top: 200px;
  margin-bottom: 142px;
}
.navtab__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navtab__list-link {
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 2.5;
  text-decoration: none;
  background-color: rgba(48, 48, 48, 0.35);
  color: #ffffff;
}
.navtab__list-item {
  width: 238px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
